PORT=5000
NODE_ENV=development

# PostgreSQL
DB_HOST=ep-damp-violet-am5zph5z.c-5.us-east-1.aws.neon.tech
DB_PORT=5432
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=1234

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:3000
